<div class="container py-3">
  <div class="grid grid-cols-12 gap-10">
    <div class="col-span-full md:col-span-6">
      <%= image_tag(@teddy.photo_url, class: 'w-full rounded-xl') %>
    </div>
    <div class="col-span-full md:col-span-6">
      <h1 class="text-3xl mb-8"><%= @teddy.name %></h1>
      <p>Some awesome description of our amazing teddy.</p>
      <p class="mb-8">Amount: <%= '%.2f' % @teddy.price_cents.fdiv(100) %> €</p>
      <%= form_with url: orders_path do %>
        <%= hidden_field_tag 'teddy_id', @teddy.id %>
        <%= submit_tag 'Purchase', class: 'text-white bg-blue-700 rounded-md p-3 font-medium' %>
      <% end %>
    </div>
  </div>
</div>
